.para{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
   
}
.des{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

   

}


marquee-container {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
       
}

.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    font-weight:bold;
    color: #ff7200;
    white-space: nowrap;
    padding: 15px;
    border: 3px solid blue; 
    background-color: #e0f7fa; 

}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.btnn{
    width: 120px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background:paleturquoise;
    color: blue;
}
